:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-Grayish-Blue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    list-style: none;

}

body {
    height: 100vh;
    background-image: url("../images/bg-top.svg"), url("../images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right top, bottom left;
    background-color: var(--Very-Light-Grayish-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: var(--Grayish-Blue);
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* pricing cards */
.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.card {
    background-color: white;
    color: var(--Grayish-Blue);
    border-radius: 1rem;
    
}


.active-card {
    background: linear-gradient(135deg, rgba(163, 168, 240, 1), rgba(105, 111, 221, 1) 100%);
    border-radius: 0.8rem;
    color: white;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
}

ul {

    padding-left: 0px;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

ul li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

ul li.price {
    font-size: 3rem;
}

hr {
    background-color: var(--Very-Light-Grayish-Blue);
    width: 100%;
}

.shadow {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

/* button */

.btn {
    height: 3rem;
    width: 13rem;
    background: linear-gradient(135deg, rgba(163, 168, 240, 1), rgba(105, 111, 221, 1) 100%);
    border: none;
    border-radius: 4px;
    color: white;
}
.btn:hover{
    border: solid 1px;
    border-radius: 4px;
    background:transparent;
    color:hsl(237, 63%, 64%);
    border-color: hsl(237, 63%, 64%);
}

.btn-active{
    height: 3rem;
    width: 13rem;

    background: white;
    color: var(--Grayish-Blue);

}

.btn-active:hover{
    border: solid 1px;
    border-radius: 4px;
    background:transparent;
    color:white;
    border:2px bold white;
    
}

.toggle {
    background-color:var(--Dark-Grayish-Blue);
    width: 60px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.toggle-active {
    width: 60px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

input {
    display: none;
}

.slider {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 12px;
    margin: 4px;
}

input:checked+.toggle {
    background-color: var(--Dark-Grayish-Blue);
}

input:checked+.toggle>.slider {
    align-self: flex-end;
}
.toggle_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.toggle_annual ,.toggle_monthly{
    margin: 1rem;
}


/* media querry */

@media (max-width:375px) {
    body {
        background-image: url("../images/bg-top.svg");
        background-repeat: no-repeat;
        background-position: right top;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .card {
        transform: scale(0.9);
    }

    .header {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 700;
        color: var(--Grayish-Blue);
        display: flex;
        flex-direction: column;
        align-items: center;

    }

}